@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-500%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.slide-left {
    animation: slideLeft 0.9s ease-out;
}
.slide-right {
    animation: slideRight 0.9s ease-out;
}
.slide-down {
    animation: slideDown 0.7s ease-out;
}

.slide-up {
    animation: slideUp 0.9s ease-out;
}

.hoverzoom{
    transition: transform 0.3s ease;
}
.hoverzoom:hover{
    transform: scale(1.1);
}
.neon-text {
    text-shadow: 0 0 10px rgba(255, 223, 0, 0.8), 
                 0 0 20px rgba(255, 223, 0, 0.6), 
                 0 0 30px rgba(255, 223, 0, 0.4);
}
